.header {
    background-color: $primary-color;
    padding: 12px 24px;
    a{
        color: #fff;
    }
    .logo{
        width: 80px;
        line-height: 48px;
        background-image: url("/assets/images/logo-white.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        &:hover{
            opacity: 80%;
        }
    }
    .menu{
        width: 80%;
    }
    .submenu{
        display: none;
    }
  }
  
  .footer {
    background-color: $primary-color;
    padding: 48px 24px 40px;
    color: #fff;

    a,span{
        color:#fff;
    }
    .container{
        position: relative;
        .platform{
            position: absolute;
            top:0;
            right:36px;
            img{
               width: 40px; 
            }
        }
    }

    .contact{
        .tel,.email{
            span{
                font-size: $font-size-base-l;
                margin-right: 22px;
            }
            a{
                font-size: $font-size-base-l;
            }
        }
        .email{
            border-bottom: 1px solid #fff;
        }
    }
  }
  

  @media(max-width: 767px){
    .header{
        padding: 16px 8px 15px 3px;
        .menu{
            display: none;
        }
        .submenu{
            display: block;
            a{
                display: inline-block;
            }
            span{
                font-size: 30px;
            }
        }
    }

    .footer{
        padding: 24px 0;
        .container{
            .navbar{
                display: none;
            }
            .platform{
                img{
                    width: 24px;
                    &:hover{
                        opacity: 80%;
                    }
                }
            } 
        }
        
        .contact{
            .tel,.email{
                span{
                    font-size: 18px;
                }
                a{
                    font-size: $font-size-base-xs;
                }
            }
            .tel{
                margin-top: 0;
            }
            .email{
                padding-bottom: 1.5rem;
                margin-bottom: 1rem;
            }
        }
        .copyright{
            flex-direction: column;
            .policy{
                flex-direction: column;
                li{
                    margin-top: 8px;
                }
            }
        }
    }
  }
  