.banner{
    height: 92.9vh;
    background-image: url("/assets/images/home-header.png");
    background-size: cover;
    background-position: center;
    .container{
        margin-right: 300px;
    }
    .banner-text{
        .btn{
            width: 18%;
            margin-left: auto;
        }
    }
}

.description{
    padding: 80px 0;
    .description-list{
        .description-card{
            width: 23.6%;
            img{
                width: 27.4%;
                &:hover{
                    opacity: 100%;
                }
            }
            p{
                color: $primary-text-color;
            }
        }
    }
}

.classic{
    padding: 80px 0;
    .classic-list{
        .classic-card{
            width: 32.1%;
            h3{
                font-size: $font-size-subtitle;
                font-weight: 900;
                color: $primary-color;
                font-style: italic;
            }
        }
    }
}

.coBranding{
    padding: 80px 0;
    background-image: url("../images/index-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    h2{
        color: #fff;
    }
    .coBranding-list{
        .coBranding-card{
            width: 50%;
            h3{
                font-size: $font-size-subtitle;
                font-weight: 900;
                color: $primary-color;
                font-style: italic;
                background: #fff;
            }
        }
    }
}

.recommended{
    padding: 80px 0;
    .recommended-list{
        .recommended-card{
            width: 23.6%;
        }
    }
    .recommended-textContent{
        .name{
            font-weight: 500;
        }
        .date{
            color:#707070;
            font-size: $font-size-base-2xs;
        }
    }
}

.contact{
    padding: 80px 0;
    .contact-form{
        width: 49%;
        margin: 0 auto;
    }
    form{
        input[type=text]{
            width: 100%;
            padding: 6px 12px;
            margin: 8px 0 16px;
            background: $thirdly-color;
            border: 1px solid #000;
        }
        textarea{
            width: 100%;
            padding: 6px 12px 106px;
            resize: none;
            margin-top: 8px;
            background: $thirdly-color;
            border: 1px solid #000;
            margin-bottom: 16px;
        }
    }
    .confirm{
        display: flex;
        align-items: center;
        &::before{
            content:"";
            width: 18px;
            height: 18px;
            border: 2px solid #000;
            border-radius: 2px;
            margin-right: 4px;
        }
    }
    .btn{
        width: 60%;
        margin: 0 auto;
    }
}