.banner{
    height: 92.9vh;
    background-image: url("../images/home-header.png");
    background-size: cover;
    background-position: center;
    .container{
        margin-right: 300px;
    }
    .banner-text{
        .btn{
            width: 18%;
            margin-left: auto;
        }
    }
}

@media(max-width:992px){
    .banner{
        .container{
            margin-right: 100px;
        }       
    }
}


@media(max-width:768px){
    .banner{
        background-image: url("../images/home-header-sm.png");
        .container{
            margin-right: 25px;
        }
    }
}

@media(max-width:375px){
    .banner{
        .container{
            margin-right: 0px;
        }
        h3{
            font-size: $font-size-base-xs;
            font-weight: 400;
        }
        h1{
            font-size: $font-size-base-m;
            font-weight: 700;
        }
        .banner-text{
            .btn{
                width: 47.7%;
            }
        }
    }
}

.description{
    padding: 80px 0;
    .description-list{
        .description-card{
            width: 23.6%;
            img{
                width: 32.7%;
                &:hover{
                    opacity: 100%;
                }
            }
            p{
                color: $primary-text-color;
            }
        }
    }
}

@media(max-width:768px){
    .description{
        padding: 80px 0 56px;
        .description-list{
            padding: 0 24px;
            .description-card{
                width: 48.4%;
                margin-bottom: 24px;
                img{
                    width: 29.7%;
                }
            }
        }
    }
}

@media(max-width:375px){
    .description{
        padding: 40px 0 24px;
        h2{
            font-size: $font-size-base-m;
            font-weight: 700;
        }
        .description-list{
            padding: 0 2px;
            .description-card{
                width: 100%;
                margin-bottom: 16px;
                img{
                    width: 28.8%;
                }
            }
        }
    }
}


.classic{
    padding: 80px 0;
    .classic-list{
        .classic-card{
            width: 32.1%;
            h3{
                font-size: $font-size-subtitle;
                font-weight: 900;
                color: $primary-color;
                font-style: italic;
            }
        }
    }
}

@media(max-width: 768px){
    .classic{
        padding-bottom: 56px;
        .classic-list{
            justify-content: center;
            .classic-card{
                width: 45.3%;
                margin: 0 25%;
                h3{
                    margin-bottom: 24px;
                }
            }
        }
    }
}

@media(max-width: 375px){
    .classic{
        padding: 40px 0 16px;
        h2{
            font-size: $font-size-base-m;
            font-weight: 700;
            margin-bottom: 24px;
        }
        .classic-list{
            .classic-card{
                width: 100%;
                margin: 0;
            }
        }
    }
}

.coBranding{
    padding: 80px 0;
    background-image: url("../images/index-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    h2{
        color: #fff;
    }
    .coBranding-list{
        .coBranding-card{
            width: 50%;
            .mobile{
                display: none;
            }
            h3{
                font-size: $font-size-subtitle;
                font-weight: 900;
                color: $primary-color;
                font-style: italic;
                background: #fff;
            }
        }
    }
}

@media(max-width:768px){
    .coBranding{
        background-image: url("../images/index-bg-md.png");
        padding-bottom: 56px;
        .coBranding-list{
            padding: 0 24px;
            .coBranding-card{
                width: 100%;
                h3{
                    margin-bottom: 24px;
                }
            }
        }
    }
}

@media(max-width:375px){
    .coBranding{
        padding: 40px 0 16px;
        background-image: url("../images/index-bg-sm.png");
        h2{
            font-size: $font-size-base-m;
            font-weight: 700;
            margin-bottom: 24px;
        }
        .coBranding-list{
            padding: 0;
            .coBranding-card{
                width: 100%;
                .desktop{
                    display: none;
                }
                .mobile{
                    display: block;
                }
                h3{
                    margin-bottom: 24px;
                }
            }
        }
    }
}

.recommended{
    padding: 80px 0;
    .recommended-list{
        .recommended-card{
            width: 23.6%;
        }
    }
    .recommended-textContent{
        .name{
            font-weight: 500;
        }
        .date{
            color:#707070;
            font-size: $font-size-base-2xs;
        }
    }
}

@media(max-width:768px){
    .recommended{
        padding-bottom: 56px;
        .recommended-list{
            padding: 0 24px;
            .recommended-card{
                width: 48.6%;
                margin-bottom: 24px;
            }
        }
        .recommended-textContent{
            .name{
                font-weight: 500;
            }
            .date{
                color:#707070;
                font-size: $font-size-base-2xs;
            }
        }
    }
}

@media(max-width:375px){
    .recommended{
        padding: 40px 0 16px;
        h2{
            font-size: $font-size-base-m;
            font-weight: 700;
            margin-bottom: 24px;
        }
        .recommended-list{
            padding: 0px;
            .recommended-card{
                width: 100%;
            }
        }
    }
}

.contact-form{
    padding: 80px 0;
    .contact-form-content{
        width: 49.1%;
        margin: 0 auto;
    }
    form{
        input[type=text]{
            width: 100%;
            padding: 6px 12px;
            margin: 8px 0 16px;
            background: $thirdly-color;
            border: 1px solid #000;
        }
        textarea{
            width: 100%;
            padding: 6px 12px 106px;
            resize: none;
            margin-top: 8px;
            background: $thirdly-color;
            border: 1px solid #000;
            margin-bottom: 16px;
        }
    }
    .confirm{
        display: flex;
        align-items: center;
        &::before{
            content:"";
            width: 18px;
            height: 18px;
            border: 2px solid #000;
            border-radius: 2px;
            margin-right: 4px;
        }
    }
    .btn{
        width: 65.5%;
        margin: 0 auto;
    }
}

@media(max-width:768px){
    .contact-form{
        .contact-form-content{
            width: 77.6%;
        }
        .btn{
            width: 58.3%;
            margin: 0 auto;
        }
    }
}

@media(max-width:375px){
    .contact-form{
        padding: 40px 0;
        h2{
            font-size: $font-size-base-m;
            font-weight: 700;
            margin-bottom: 24px;
        }
        .contact-form-content{
            width: 100%;
        }
        .confirm{
            margin-bottom: 24px;
        }
        .btn{
            width: 100%;
        }
    }
}