/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: -apple-system, BlinkMacSystemFont,"Roboto", 'Noto Sans TC',"Microsoft JhengHei","Helvetica Neue", monospace, Arial, sans-serif;
  line-height: 1.5; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle; }
  img:hover {
    opacity: 80%; }

h1 {
  font-size: 64px;
  font-weight: 900; }

h2 {
  font-size: 48px;
  font-weight: 700; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 24px;
  font-weight: 700; }

a {
  text-decoration: none; }
  a:hover {
    opacity: 80%; }

.text-primary {
  color: #650300; }

.text-secondary {
  color: #650300; }

.bg-primary {
  background: #FBF2F2; }

.shadow {
  -webkit-box-shadow: 0 2px 6px 2px #DEE2E6;
          box-shadow: 0 2px 6px 2px #DEE2E6; }

.card-border {
  border: 1px solid #DEE2E6; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .d-flex.jcc {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .d-flex.jcfe {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .d-flex.jcsd {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .d-flex.jcsb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .d-flex.aic {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .d-flex.fxww {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .d-flex.fxdc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.ta-c {
  text-align: center; }

.ta-r {
  text-align: right; }

.ta-l {
  text-align: left; }

.p4 {
  padding: 1rem; }

.px2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.px6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.px8 {
  padding-left: 2rem;
  padding-right: 2rem; }

.pb8 {
  padding-bottom: 2rem; }

.mx-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.mx-6 {
  margin-left: -1.5rem;
  margin-right: -1.5rem; }

.mx-8 {
  margin-left: -2rem;
  margin-right: -2rem; }

.mt2 {
  margin-top: 0.5rem; }

.mt6 {
  margin-top: 1.5rem; }

.mt8 {
  margin-top: 2rem; }

.mt12 {
  margin-top: 3rem; }

.mb1 {
  margin-bottom: 0.25rem; }

.mb2 {
  margin-bottom: 0.5rem; }

.mb3 {
  margin-bottom: 0.75rem; }

.mb4 {
  margin-bottom: 1rem; }

.mb5 {
  margin-bottom: 1.25rem; }

.mb6 {
  margin-bottom: 1.5rem; }

.mb7 {
  margin-bottom: 1.75rem; }

.mb8 {
  margin-bottom: 2rem; }

.mb10 {
  margin-bottom: 2.5rem; }

.mb12 {
  margin-bottom: 3rem; }

.mb14 {
  margin-bottom: 3.5rem; }

.mb17 {
  margin-bottom: 4.25rem; }

.mb24 {
  margin-bottom: 6rem; }

.header {
  background-color: #AA0601;
  padding: 12px 24px; }
  .header a {
    color: #fff; }
  .header .logo {
    width: 80px;
    line-height: 48px;
    background-image: url("/assets/images/logo-white.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer; }
  .header .menu {
    width: 80%; }
  .header .submenu {
    display: none; }

.footer {
  background-color: #AA0601;
  padding: 48px 24px 40px;
  color: #fff; }
  .footer a, .footer span {
    color: #fff; }
  .footer .container {
    position: relative; }
    .footer .container .platform {
      position: absolute;
      top: 0;
      right: 36px; }
      .footer .container .platform img {
        width: 40px; }
  .footer .contact .tel span, .footer .contact .email span {
    font-size: 36px;
    margin-right: 22px; }
  .footer .contact .tel a, .footer .contact .email a {
    font-size: 36px; }
  .footer .contact .email {
    border-bottom: 1px solid #fff; }

@media (max-width: 767px) {
  .header {
    padding: 16px 8px 15px 3px; }
    .header .menu {
      display: none; }
    .header .submenu {
      display: block; }
      .header .submenu a {
        display: inline-block; }
      .header .submenu span {
        font-size: 30px; }
  .footer {
    padding: 24px 0; }
    .footer .container .navbar {
      display: none; }
    .footer .container .platform img {
      width: 24px; }
    .footer .contact .tel span, .footer .contact .email span {
      font-size: 18px; }
    .footer .contact .tel a, .footer .contact .email a {
      font-size: 16px; }
    .footer .contact .tel {
      margin-top: 0; }
    .footer .contact .email {
      padding-bottom: 1.5rem;
      margin-bottom: 1rem; }
    .footer .copyright {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer .copyright .policy {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .footer .copyright .policy li {
          margin-top: 8px; } }

.btn {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 11px 0px 10px;
  text-align: center; }
  .btn:hover {
    opacity: 80%; }
  .btn-primary {
    background: #AA0601;
    color: #fff; }

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48; }

.banner {
  height: 92.9vh;
  background-image: url("../images/home-header.png");
  background-size: cover;
  background-position: center; }
  .banner .container {
    margin-right: 300px; }
  .banner .banner-text .btn {
    width: 18%;
    margin-left: auto; }

.description {
  padding: 80px 0; }
  .description .description-list .description-card {
    width: 23.6%; }
    .description .description-list .description-card img {
      width: 27.4%; }
      .description .description-list .description-card img:hover {
        opacity: 100%; }
    .description .description-list .description-card p {
      color: #000; }

.classic {
  padding: 80px 0; }
  .classic .classic-list .classic-card {
    width: 32.1%; }
    .classic .classic-list .classic-card h3 {
      font-size: 48px;
      font-weight: 900;
      color: #AA0601;
      font-style: italic; }

.coBranding {
  padding: 80px 0;
  background-image: url("../images/index-bg.png");
  background-position: center;
  background-repeat: no-repeat; }
  .coBranding h2 {
    color: #fff; }
  .coBranding .coBranding-list .coBranding-card {
    width: 50%; }
    .coBranding .coBranding-list .coBranding-card h3 {
      font-size: 48px;
      font-weight: 900;
      color: #AA0601;
      font-style: italic;
      background: #fff; }

.recommended {
  padding: 80px 0; }
  .recommended .recommended-list .recommended-card {
    width: 23.6%; }
  .recommended .recommended-textContent .name {
    font-weight: 500; }
  .recommended .recommended-textContent .date {
    color: #707070;
    font-size: 14px; }

.contact {
  padding: 80px 0; }
  .contact .contact-form {
    width: 49%;
    margin: 0 auto; }
  .contact form input[type=text] {
    width: 100%;
    padding: 6px 12px;
    margin: 8px 0 16px;
    background: #FBF2F2;
    border: 1px solid #000; }
  .contact form textarea {
    width: 100%;
    padding: 6px 12px 106px;
    resize: none;
    margin-top: 8px;
    background: #FBF2F2;
    border: 1px solid #000;
    margin-bottom: 16px; }
  .contact .confirm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact .confirm::before {
      content: "";
      width: 18px;
      height: 18px;
      border: 2px solid #000;
      border-radius: 2px;
      margin-right: 4px; }
  .contact .btn {
    width: 60%;
    margin: 0 auto; }

/*# sourceMappingURL=all.css.map */
